<!DOCTYPE html>
<head>
    <!-- Load the sockets io library -->
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>

    <!-- Load the p5.js library to create sketches -->
    <script src="https://cdn.jsdelivr.net/npm/p5"></script>
    
    <!-- Load the client file -->
    <script src="{{ url_for('static', filename='client.js') }}"></script>

    <!-- Load the script that handles what happens inside the canvas -->
    <script src="{{ url_for('static', filename='sketch.js') }}"></script>
</head>
<html>
    <body>
        <h1>
            Tengen Tetris game
        </h1>
    </body>
</html> 